* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    line-height: 1.6;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    outline: none;
    position: absolute;
}

#search-input:focus {
    border: 1px solid #a5ae74;
}

#search-button {
    padding: 8px 16px;
    background-color: #138065;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    top: 50%;
    right: 0;
    transform: translate(160%, -0%);
}

.search-results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.search-result {
    margin-bottom: 60px;
    width: 30%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.search-result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s;
}

.search-result:hover img {
    opacity: 0.8;
}

.search-result a {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: capitalize;
}


#show-more-btn {
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .search-results {
        padding: 20px;
    }

    .search-result {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .search-result {
        width: 100%;
    }
}




/* Footer Styles */
footer {
    background-color: #f4f4f4;
    color: #333;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-content .about {
    max-width: 500px;
}

.footer-section h2 {
    margin-bottom: 10px;
    color: #333;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #555;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #138065;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.text-input {
    outline: none;
    border: none;
}

.contact-form input,
textarea {

    /* Footer Styles */
    footer {
        background-color: #f4f4f4;
        color: #333;
        padding: 50px 0;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-section h2 {
        margin-bottom: 10px;
        color: #333;
    }

    .footer-section p {
        font-size: 14px;
        line-height: 1.5;
        color: #555;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 10px;
    }

    .footer-section ul li a {
        color: #555;
        text-decoration: none;
    }

    .footer-section ul li a:hover {
        color: #138065;
    }

    .contact-form form {
        display: flex;
        flex-direction: column;
    }

    .text-input {
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .contact-btn {
        background-color: #138065;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .contact-btn:hover {
        background-color: #0e6b53;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 30px;
        padding-top: 10px;
        border-top: 1px solid #ddd;
        color: #555;
    }

    /* Media Queries for Responsiveness */
    @media screen and (max-width: 768px) {
        .footer-content {
            flex-direction: column;
            text-align: center;
        }

        .footer-section {
            margin-bottom: 30px;
        }
    }
}

.text-input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contact-btn {
    background-color: #138065;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #0e6b53;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    color: #555;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 30px;
    }
}